<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" style='background: black, color: white, height: 300px width: 100%'data-hook>
    <p><%= t 'spree.powered_by' %> <%= link_to 'Solidus', 'http://solidus.io/' %></p>

  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>
